
/*navigation bar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #333333;
    color:white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    padding: 14px 16px;
  }
  
  nav a {
    text-decoration: none;
    color:white;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: poppins, sans-serif;
    /* margin: 20px;  */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
    margin-left:10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }

  /* CSS for the ID's*/

#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  
